<div>
    <table class=" width100" ng-show="previewRepayment">
        <thead>
            <th>#</th>
                <th>Due Date</th>
                <th>Days in Period</th>
                <th>Principal Disbursed</th>
                <th>Principal Due</th>
                <th>Loan Balance Outstanding</th>
                <th>Interest Due</th>
                <th>Fee Charges Due</th>
                <th>Penalty Charges Due</th>
                <th>Total Due For Period</th>
        </thead>
        <tbody>            
            <tr ng-repeat="period in loan.repaymentSchedule.periods">
                <td>{{period.period}}</td>
                <td>{{period.dueDate | DateFormat}}</td>
                <td>{{period.daysInPeriod}}</td>
                <td>{{period.principalDisbursed | number}}</td>
                <td>{{period.principalDue| number}}</td>
                <td>{{period.principalLoanBalanceOutstanding| number}}</td>
                <td>{{period.interestDue| number}}</td>
                <td>{{period.feeChargesDue| number}}</td>
                <td>{{period.penaltyChargesDue| number}}</td>
                <td>{{period.totalDueForPeriod| number}}</td>
            </tr>
            <tfoot class="ui-widget-header">
                <tr>
                    <td colspan="2">{{'label.heading.total' | translate}}</td>
                    <td>{{loan.repaymentSchedule.loanTermInDays}}</td>
                    <td>{{loan.repaymentSchedule.totalPrincipalDisbursed| number}}</td>
                    <td>{{loan.repaymentSchedule.totalPrincipalExpected| number}}</td>
                    <td></td>
                    <td>{{loan.repaymentSchedule.totalInterestCharged| number}}</td>
                    <td>{{loan.repaymentSchedule.totalFeeChargesCharged| number}}</td>
                    <td>{{loan.repaymentSchedule.totalPenaltyChargesCharged| number}}</td>
                    <td>{{loan.repaymentSchedule.totalRepaymentExpected| number}}</td>
                </tr>
            </tfoot>
        </tbody>
    </table>
</div>